// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

body {
  background: papayawhip;

}

input {
  display: flex;
  flex-grow: 1;
}

button {
  border: 0;
  background-color: blue;
  color: white;
}

.results {
  max-width: 60rem;
  margin: 1rem;
}

.results__container {
  display: flex;
  justify-content: center;
}

.results__box {
  max-width: 60rem;
  margin: 1rem;
  overflow: auto;
  background: grey;
}

.results__box--content  {
  padding: 1rem;
}
