// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

body {
  background: #000;

}

input {
  display: flex;
  flex-grow: 1;
  height: 6vh;
  padding: 0.5rem;
  border: 0;
}

button {
  width: 12vh;
  border: 0;
  background-color: #5783f2;
  color: white;
}




.results__container {
  display: flex;
  justify-content: space-around;

  max-width: 60rem;
}

.results__box {
  max-width: 60rem;
  padding: 1rem;
  background: #ccced1;
  overflow: auto;
}

.results__box--content {
  padding: 1rem;
}

.netflix__poster  {
  max-width: 30%;
}
