// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

body {
  background: #000;

}





.page  {
  max-width: 50rem;
}

.container  {
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.search-form  {
  display: flex;
  flex-grow: 1;


  &__input {
    flex-grow: 1;
    padding: 0.5rem;
  }

  &__btn {
    border: 0;
    padding: 0.5rem;
    background-color: #5783f2;
    color: white;
  }

}


.results__container {
  display: flex;


}

.search__result {
  display: flex;
  position: relative;
  padding: 1rem;
  background: #ccced1;
  overflow: auto;
}

.results__box--content {
  padding: 1rem;
}

.img__parent  {
  display: flex;
  position: relative;
  transform: translate(40%, -50%);
}

.netflix__poster  {
  max-width: 60%;
  height: 35vh;
}
